Tested version: Renesas-LTS v6.1.180
Tested Board: Salvator-XS board (R-Car H3 v3.0)

| No. | Modules | Result |
|---|---|---|
| 1 | ARCH_TIMER | OK |
| 2 | CMT | OK |
| 3 | CPU_HOTPLUG | OK |
| 4 | DMAE | OK |
| 5 | ETHERNET | OK |
| 6 | GPIO | OK |
| 7 | HSCIF_DMA | OK |
| 8 | HSCIF_PIO | OK |
| 9 | I2C | OK |
| 10 | MMC | OK |
| 11 | MSIOF_DMA_Master | OK |
| 12 | MSIOF_DMA_Slave | OK |
| 13 | MSIOF_PIO_Master | OK |
| 14 | MSIOF_PIO_Slave | OK |
| 15 | PCIe_Ether | OK |
| 16 | PM | OK |
| 17 | SATA | OK |
| 18 | SCIF_DMA | OK |
| 19 | SCIF_PIO | OK |
| 20 | SDHI | OK |
| 21 | SOUND | OK |
| 22 | THERMAL | OK |
| 23 | TMU | OK |
| 24 | USB2F | OK |
| 25 | USB3F | OK |
| 26 | USB_HOST | OK |
| 27 | V4L2 | OK |
| 28 | VIDEO_INPUT | OK |

Total/OK/NG - 28/28/0

**Note:**
- Kernel LTS v6.1 doesn't support V4H ES3.0 White Hawk Single. Therefore, we are skipping testing on this board.
- Please contact to [duy.nguyen.rh@renesas.com](mailto:duy.nguyen.rh@renesas.com) if you need to know test results more details.
